* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --dark-color: #646464;
    --light-color: #ebe8e3;
    --black-color: black;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/*scroll-bar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--dark-color);
}
::-webkit-scrollbar-track {
    background: var(--light-color);
}

/*links*/
a:link, a:visited {
    color: var(--dark-color);
    text-decoration: none;
}


/*header*/
.header {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 1.1rem;
    font-weight: 500;
    height: fit-content;
    max-width: 100vw;
}

/*navigation-bar*/
.nav-bar {
    display: flex;
    gap: 0.7rem;
    list-style: none;
}

/*tab (responsive)*/
@media all and (max-width: 768px) {
    .header {
        font-size: 1rem;
    }

    .nav-bar {
        flex-direction: column;
        gap: 0.1rem;
    }
}

section {
    height: 100vh;
    padding: 0 10vw;
}


/*home-page*/
.home {
    height: 95vh;
    font-size: 1.5rem;
    position: fixed;
    padding: 0;
    top: 8vh;
    left: 5vw;
    right: 5vw;
    margin: auto;
    z-index: -1;
}

.my-name {
    text-align: center;
    font-size: 13vw;
    font-family: "Michroma", sans-serif;
    font-weight: 900;
    color: var(--black-color);
}

.home-content {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.home-content > div {
    flex: 1;
}

.home-content > div:nth-child(1) {
    padding-top: 10vh;
}

.contact-btn {
    background: #3a3a3a;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-weight: 500;
    padding-top: 6px;
}

.home-content > div:nth-child(2) {
    text-align: center;
}

.home-img {
    width: 100%;
    max-height: 450px;
    max-width: 350px;
    object-fit: cover;
}

@media all and (max-width: 768px) {
    .home {
        padding-top: 30vh;
    }
    .contact-btn {
        font-size: 1.5rem;
    }

    .home-content {
        flex-direction: column-reverse;
        font-size: 1rem;
    }

    .home-content > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .home-content > div:nth-child(2) {
        display: none;
    }

    .home-content > div:nth-child(3) {
        display: none;
    }
}

.title-section {
    height: fit-content;
    background: var(--black-color);
    margin: 0;
    text-align: center;
    color: var(--light-color);
    font-size: 3vw;
}

.title-abt {
    margin-top: 100vh;
    border-radius: 100px 100px 0 0;
}

.title-section > h1 {
    font-family: "Michroma", sans-serif;
    padding-top: 20px;
}

@media all and (max-width: 768px) {
    .title-abt {
        border-radius: 30px 30px 0 0;
    }

    .title-section {
        font-size: 4vw;
    }
}


/*about-page*/
.about {
    display: flex;
    flex-direction: row;
    background: var(--black-color);
    color: var(--light-color);
}

.about > div {
    flex: 1;
}

.about > .left {
    text-align: center;
}

.about > .left > .img-frame img {
    height: 50vh;
    margin-top: 20vh;
}

.about > .right {
    padding-top: 20vh;
}

.about > .navbar-btn {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
    background: var(--light-color);
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.about > .navbar-btn > div {
    width: 35px;
    height: 5px;
    background: var(--black-color);
    margin: 6px 0;
    transition: 0.4s;
}

.education > h2 {
    padding: 20px 0;
}

.education > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media all and (max-width: 768px) {
    .about {
        flex-direction: column;
        font-size: 1rem;
    }

    .about > div {
        flex: none;
    }

    .about > .left > .img-frame img {
        margin-top: 5vh;
    }

    .about > .right {
        padding-top: 20px;
    }
}