* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    text-decoration: none;
    scroll-behavior: smooth;
    /*overflow-x: hidden;*/
}

:root {
    --dark-color: #646464;
    --light-color: #ebe8e3;
    --black-color: black;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/*scroll-bar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--dark-color);
}
::-webkit-scrollbar-track {
    background: var(--light-color);
}

/*links*/
a:link, a:visited {
    color: var(--dark-color);
    text-decoration: none;
}


/*header*/
.header {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 1.1rem;
    font-weight: 500;
    height: fit-content;
    max-width: 100vw;
}

/*navigation-bar*/
.nav-bar {
    display: flex;
    gap: 0.7rem;
    list-style: none;
}

/*tab (responsive)*/
@media all and (max-width: 768px) {
    .header {
        font-size: 1rem;
    }

    .nav-bar {
        flex-direction: column;
        gap: 0.1rem;
    }
}

section {
    height: 100vh;
    padding: 0 10vw;
}


/*home-page*/
.home {
    height: 95vh;
    font-size: 1.5rem;
    position: fixed;
    padding: 0;
    top: 8vh;
    left: 5vw;
    right: 5vw;
    margin: auto;
    z-index: -1000;
}

.my-name {
    text-align: center;
    font-size: 13vw;
    font-family: "Michroma", sans-serif;
    font-weight: 900;
    color: var(--black-color);
}

.home-content {
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.home-content > div {
    flex: 1;
}

.home-content > div:nth-child(1) {
    padding-top: 10vh;
}

.contact-btn {
    background: #3a3a3a;
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    font-weight: 500;
    padding-top: 6px;
}

.home-content > div:nth-child(2) {
    text-align: center;
}

.home-img {
    width: 100%;
    max-height: 450px;
    max-width: 350px;
    object-fit: cover;
}

/*@keyframes homeVisible {*/
/*    from {*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

@media all and (max-width: 768px) {
    .home {
        padding-top: 30vh;
    }
    .contact-btn {
        font-size: 1.5rem;
    }

    .home-content {
        flex-direction: column-reverse;
        font-size: 1rem;
    }

    .home-content > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .home-content > div:nth-child(2) {
        display: none;
    }

    .home-content > div:nth-child(3) {
        display: none;
    }
}


.title-section {
    height: fit-content;
    background: var(--black-color);
    margin: 0;
    text-align: center;
    color: var(--light-color);
    font-size: 3vw;
}

.title-abt {
    margin-top: 100vh;
    border-radius: 100px 100px 0 0;
}

.title-section > h1 {
    font-family: "Michroma", sans-serif;
}

.title-abt > h1 {
    padding-top: 20px;
}

@media all and (max-width: 768px) {
    .title-abt {
        border-radius: 30px 30px 0 0;
    }

    .title-section {
        font-size: 4vw;
    }
}


/*about-page*/
.about {
    display: flex;
    flex-direction: row;
    background: var(--black-color);
    color: var(--light-color);
}

.about > div {
    flex: 1;
}

.about > .left {
    text-align: center;
}

.about > .left > .img-frame img {
    height: 50vh;
    margin-top: 20vh;
}

.about > .right {
    padding-top: 20vh;
}

.about > .navbar-btn {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
    background: var(--light-color);
    cursor: pointer;
    z-index: 1000;
    transition: 0.4s;
}

.about > .navbar-btn.active {
    background: var(--dark-color);
}

.about > .navbar-btn > div {
    width: 35px;
    height: 5px;
    background: var(--black-color);
    margin: 6px 0;
    transition: 0.4s;
}

.about > .navbar-btn.active > div {
    background: var(--light-color);
}

.about .nav-menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(30px);
    color: var(--black-color);
    transition: right 0.5s ease-in-out;
    z-index: 999;
}

.about .nav-menu.active {
    right: 0;
}

.about .nav-container {
    display: flex;
    flex-direction: column;
    margin-left: 50vw;
    margin-top: 20vh;
}

.about .nav-item {
    font-family: "Michroma", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
    color: var(--black-color);
    width: fit-content;
}

.about .nav-item:hover {
    border-bottom: 4px solid var(--dark-color);
}

.about .socials-container {
    display: flex;
    flex-direction: row;
    margin-left: 50vw;
    margin-top: 20vh;
}

.about .socials-container a {
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.education > h2 {
    padding: 20px 0;
}

.education > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media all and (max-width: 768px) {
    .about {
        flex-direction: column;
        font-size: 1rem;
    }

    .about > div {
        flex: none;
    }

    .about > .left > .img-frame img {
        margin-top: 5vh;
    }

    .about > .right {
        padding-top: 20px;
    }

    .about .socials-container {
        flex-direction: column;
        margin-top: 5vh;
        margin-left: 5vw;
    }

    .about .socials-container a {
        margin-bottom: 5px;
        font-size: 15px;
    }

    .about .nav-container {
        margin-left: 5vw;
    }

    .about .nav-item {
        font-size: 1.5rem;
    }
}


/*skills*/
.skills {
    background: var(--black-color);
    height: 75vh;
}

.slider {
    padding: 7rem 0 0;
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
            to right,
            transparent,
            black 10% 90%,
            transparent
    );
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc(10s / var(--quantity) * (var(--position) - 1))!important;
}

.slider .list .item img {
    background: white;
    border-radius: 2rem;
    width: 100%;
}

@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: calc(-1 * var(--width));
    }
}

.slider:hover .item {
    animation-play-state: paused!important;
    filter: grayscale(1);
}

.slider .item:hover {
    filter: grayscale(0);
}

.slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
}

@keyframes reversePlay {
    from {
        left: calc(-1 * var(--width));
    }
    to {
        left: 100%;
    }
}

.slider[reverse="true"]:hover .item {
    animation-play-state: paused!important;
}

@media all and (max-width: 768px) {
    .slider {
        padding: 3rem 0 0;
    }

    .slider .list .item {
        width: 100px;
        height: 100px;
    }

    .slider .list .item img {
        border-radius: 1rem;
    }
}


/*services*/
.services {
    height: 350vh;
    padding: 100px 20vw 0;
    background: var(--black-color);
}

.service-title {
    font-size: 4vw;
    font-family: "Michroma", sans-serif;
    color: var(--light-color);
}

.service-item {
    min-height: 100vh;
    position: sticky;
    top: 150px;
    background: var(--black-color);
    border-top: 4px solid var(--dark-color);
}

.service-item:nth-child(2) {
    top: 300px;
}

.service-item:nth-child(3) {
    top: 450px;
}

.service-item p {
    padding-top: 100px;
}

@media all and (max-width: 768px) {
    .services {
        padding: 50px 10vw 0;
    }

    .service-title {
        font-size: 5vw;
    }

    .service-item {
        top: 100px;
    }

    .service-item:nth-child(2) {
        top: 200px;
    }

    .service-item:nth-child(3) {
        top: 300px;
    }

    .service-item p {
        padding-top: 50px;
        font-size: 1rem;
    }
}


/*projects*/
.projects {
    display: flex;
    padding: 10px 5vw 0;
    height: 300vh;
    font-size: 20rem;
    font-family: 'Poppins', sans-serif;
    background: var(--black-color);
    color: var(--dark-color);
}

.project-left {
    width: 200px;
}

.project-right {
    margin-left: 20px;
}

.project-no {
    position: sticky;
    top: 0;
    font-weight: 700;
}

.project {
    height: 100vh;
}

.project-item {
    width: 700px;
    height: fit-content;
    margin-left: 500px;
    margin-top: -370px;
    display: flex;
    flex-direction: column;
    color: var(--light-color);
}

.project-item img {
    width: 100%;
    height: 500px
}

.project-desc {
    font-size: 1.5rem;
    padding-top: 30px;
}

.project-btn {
    font-size: 1.4rem;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background: var(--light-color);
    color: #3a3a3a;
}

@media all and (max-width: 768px) {
    .projects {
        padding: 0 5vw;
    }

    .project-left {
        display: none;
    }

    .project-no {
        display: none;
    }

    .project-right {
        margin: 0;
        padding-top: 20px;
    }

    .project-item {
        margin: 0;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 90vw;
    }

    .project-item img {
        width: 90vw;
    }

    .project-desc {
        font-size: 1rem;
    }

    .project-btn {
        font-size: 1.2rem;
    }
}


/*assignments*/
.assignments {
    background: var(--black-color);
    border-radius: 0 0 100px 100px;
}


/*contact*/
.contact {
    background: var(--light-color);
    color: var(--dark-color);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    /*border: 1px solid transparent;*/
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.contact-form h2 {
    margin-bottom: 50px;
    font-size: 5vw;
    color: var(--black-color);
    font-family: "Michroma", sans-serif;
}

.contact-form input {
    width: 25vw;
    margin: 15px 0;
    height: 5vh;
    padding: 5px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    background: transparent;
    color: var(--dark-color);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.contact-form textarea {
    width: 25vw;
    margin: 15px 0;
    height: 30vh;
    padding: 5px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
    background: transparent;
    font-size: 20px;
    color: var(--dark-color);
    font-family: 'Poppins', sans-serif;
}

.submit-btn {
    margin-top: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: 'Poppins', sans-serif;
    background: var(--black-color);
    color: var(--light-color);
    cursor: pointer;
}

@media all and (max-width: 768px) {
    .contact-form input {
        width: 50vw;
    }

    .contact-form textarea {
        width: 50vw;
    }

    .contact-form h2 {
        margin-bottom: 25px;
    }
}


/*footer*/
.footer {
    display: flex;
    padding: 0 5vw;
    flex-direction: row;
    height: 25vh;
    background: var(--black-color);
    color: var(--light-color);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer div {
    flex: 1;
}

.footer ul {
    list-style: none;
}

.footer h3 {
    width: 30vw;
    border-bottom: 1px solid var(--light-color);
    font-weight: normal;
}